body {
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-size: 1572px 881px;

	/*width: 1000px;*/
	/*font-family: Helvetica;
	color:#000000;
	text-align:center;*/
}

/*-------------------------------------
| Memory Game Styles
-------------------------------------*/
#memoryGame {
	/*background-color: white;*/
	width: 1300px;
	margin: 50px auto;
	padding: 25px;

	position: relative;
}
#memoryGame .deck {
	width: 700px;
	margin-top: -66px;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#memoryGame .deck img {
	/*box-sizing: border-box;*/
	padding: 10px;
	width: 121px;
	height: 156px;
}
#memoryGame .feedback {
	position: absolute;
	right: 165px;
	top: 380px;
	width: 250px;
	background-color: white;
	border: yellow;

	font-size: 20px;
	color: teal;

	height: 100px;

	display: flex;

	justify-content: center;
	align-items: center;

	font-size: 30px;
	font-weight: bold;
}
#memoryGame .title{
	position: absolute;
	top: 30px;
	right: 60px;
	width: 450px;
	height: 250px;

}
#memoryGame .reset {
	display: block;
	position: absolute;
	top: 561px;
	right: 213px;
	width: 159px;
	height: 43px;
}
